<h1>All routes</h1>
<%= link_to 'Back', root_path %> |
<% if user_signed_in? %>
<%= link_to 'Create New Route', new_rou_path %>
<%end%>

<!-- <table>
  <thead>
    <tr>
      <th>Imei no</th>
      <th>Mobile no</th>
      <th>User email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rous.each do |rou| %>
      <tr>
        <td><%= rou.IMEI_no %></td>
        <td><%= rou.Mobile_no %></td>
        <td><%= rou.user.email if rou.user %></td>
        <% if rou.user == current_user %>
        <td><%= link_to 'Show', rou %></td>
        <td><%= link_to 'Edit', edit_rou_path(rou) %></td>
        <td><%= link_to 'Destroy', rou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table> -->



<% @rous.each_with_index do |rou,index| %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="<%= index.to_s %>">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">

      Route number : <%= index+1 %>
    </br>
        IMEI_no : <%= rou.IMEI_no %>
      </br>
        Mobile_no : <%= rou.Mobile_no %>
        </br>
        user : <%= rou.user.email if rou.user %>
        <% if rou.user == current_user %>
        </br>
        <%= link_to 'Show', rou %>
        <%= link_to 'Edit', edit_rou_path(rou) %>
        <%= link_to 'Destroy', rou, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </a>  
      </h4>
    </div>

<% if index == 0 %>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">

         <% rou.markers.each do |marker| %>
     
        <%= marker.lat %>
        <%= marker.lon %>
        <%= marker.description %>
        <% if rou.user != current_user %>
        </br>
        <%end%>
        <!-- <td><%= marker.rou %></td> -->
        <% if rou.user == current_user %>
       <%= link_to 'Show', [marker.rou, marker] %>
        <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %>
        <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %>
      </br>
      <% end %>
    <% end %>
    <% if rou.user == current_user %>
    <%= link_to 'New Marker', new_rou_marker_path(rou) %>
    <% end %>
      </div>
    </div>
<%end%>
<%if index == 1%>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
       <% rou.markers.each do |marker| %>
     
        <%= marker.lat %>
        <%= marker.lon %>
        <%= marker.description %>
        <% if rou.user != current_user %>
        </br>
        <%end%>
        <!-- <td><%= marker.rou %></td> -->
        <% if rou.user == current_user %>
       <%= link_to 'Show', [marker.rou, marker] %>
        <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %>
        <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %>
      </br>
      <% end %>
    <% end %>
    <% if rou.user == current_user %>
    <%= link_to 'New Marker', new_rou_marker_path(rou) %>
    <% end %>
      </div>
    </div>
<%end%>
<%if index == 2%>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
          <% rou.markers.each do |marker| %>
     
        <%= marker.lat %>
        <%= marker.lon %>
        <%= marker.description %>
        <% if rou.user != current_user %>
        </br>
        <%end%>
        <!-- <td><%= marker.rou %></td> -->
        <% if rou.user == current_user %>
       <%= link_to 'Show', [marker.rou, marker] %>
        <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %>
        <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %>
      </br>
      <% end %>
    <% end %>
    <% if rou.user == current_user %>
    <%= link_to 'New Marker', new_rou_marker_path(rou) %>
    <% end %>
      </div>
    </div>
<%end%>
<%if index == 3%>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
    <% rou.markers.each do |marker| %>
     
        <%= marker.lat %>
        <%= marker.lon %>
        <%= marker.description %>
        <% if rou.user != current_user %>
        </br>
        <%end%>
        <!-- <td><%= marker.rou %></td> -->
        <% if rou.user == current_user %>
       <%= link_to 'Show', [marker.rou, marker] %>
        <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %>
        <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %>
      </br>
      <% end %>
    <% end %>
    <% if rou.user == current_user %>
    <%= link_to 'New Marker', new_rou_marker_path(rou) %>
    <% end %>
      </div>
    </div>
<%end%>
<%if index == 4%>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
    <% rou.markers.each do |marker| %>
     
        <%= marker.lat %>
        <%= marker.lon %>
        <%= marker.description %>
        <% if rou.user != current_user %>
        </br>
        <%end%>
        <!-- <td><%= marker.rou %></td> -->
        <% if rou.user == current_user %>
       <%= link_to 'Show', [marker.rou, marker] %>
        <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %>
        <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %>
      </br>
      <% end %>
    <% end %>
    <% if rou.user == current_user %>
    <%= link_to 'New Marker', new_rou_marker_path(rou) %>
    <% end %>
      </div>
    </div>
<%end%>
</div>
</div>
<% end %>
