<h1>All routes</h1>
<%= link_to 'Back', root_path %> 
<% if user_signed_in? %>
<% if current_user.admin? %>
|<%= link_to 'Create New Route', new_rou_path%>

<%end%>
<%end%>
<%r = 3%>
<% @rous.each_with_index do |rou,index| %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="<%= index.to_s %>">
      <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">

      Route number : <%= index+1 %> 
      </br>
        IMEI_no : <%= rou.IMEI_no %>
      </br>
        Mobile_no : <%= rou.Mobile_no %>
        </br>
      </a>  
      </h4>
       <% if rou.user == current_user %>
        </br>
         <!--  <%= link_to 'Show', rou %>
 -->    <%= link_to 'Edit', edit_rou_path(rou) %>
        <%= link_to 'Destroy', rou, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
    </div>

<% if index == 0 %>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
   
        <table class="tablesorter" id="this0">
        <thead>
         <tr>
          <th>#</th>
          <th>Description</th>
          <th>Stop #</th>
         <th>Latitude</th>
         <th>Longitude</th>
         
         </tr>
        </thead>
        <tbody>
          <% count=0 %>
      <% rou.markers.each do |marker| %>
          <% if marker.stop_no.nil? %>
            <% @curr = marker.dup %>
            <%else%>
          <tr>
            <td><%= count+1 %></td>
          <td><%= marker.description %></td>
          <td><%= marker.stop_no%></td>
          <td> <%= marker.lat.round(r) %></td>
          <td><%= marker.lon.round(r) %></td>
          <% count=count+1 %>
          
        <!-- <td><%= marker.rou %></td> -->
          <% if rou.user == current_user %>
          <td>  <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %></td>
          <td>  <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </br>
          <% end %>
      </tr>
      <%end%>
      <% end %>
   </tbody>
</table>
  Last known location :</br>
   At time: <b><%= @curr.try(:description)%></b> </br>Latitude:<b><%= @curr.try(:lat).round(r) if @curr.try(:lat) %></b></br> Longitude:<b><%= @curr.try(:lon).round(r) if @curr.try(:lon) %></b></br>
   <% if rou.user == current_user %>
    <%= link_to 'Add New Marker', new_rou_marker_path(rou), class: "btn btn-primary" %>
  
    <% end %>
    </div>
    </div>
<%end%>
<%if index == 1%>
     <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
   
        <table class="tablesorter" id="this1">
        <thead>
         <tr>
          <th>#</th>
          <th>Description</th>
          <th>Stop #</th>
         <th>Latitude</th>
         <th>Longitude</th>
         
         </tr>
        </thead>
        <tbody>
          <% count=0 %>
      <% rou.markers.each do |marker| %>
          <% if marker.stop_no.nil? %>
            <% @curr1 = marker.dup %>
            <%else%>
          <tr>
            <td><%= count+1 %></td>
          <td><%= marker.description %></td>
          <td><%= marker.stop_no%></td>
          <td> <%= marker.lat.round(r) %></td>
          <td><%= marker.lon.round(r) %></td>
          <% count=count+1 %>
          
          <% if rou.user != current_user %></td>
          </br>
          <%end%>
        <!-- <td><%= marker.rou %></td> -->
          <% if rou.user == current_user %>
        <!--   <td> <%= link_to 'Show', [marker.rou, marker] %></td> -->
          <td>  <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %></td>
          <td>  <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </br>
          <% end %>
      </tr>
      <%end%>
      <% end %>
   </tbody>
</table>
 Last known location :</br>
  At time: <b><%= @curr1.try(:description)%></b> </br>Latitude:<b><%= @curr1.try(:lat).round(r) if @curr1.try(:lat) %></b></br> Longitude:<b><%= @curr1.try(:lon).round(r) if @curr1.try(:lon) %></b></br>
  <% if rou.user == current_user %>
    <%= link_to 'Add New Marker', new_rou_marker_path(rou), class: "btn btn-primary" %>
  
    <% end %>
    </div>
    </div>
<%end%>
<%if index == 2%>
     <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
   
        <table class="tablesorter" id="this2">
        <thead>
         <tr>
          <th>#</th>
          <th>Description</th>
          <th>Stop #</th>
         <th>Latitude</th>
         <th>Longitude</th>
         
         </tr>
        </thead>
        <tbody>
          <% count=0 %>
      <% rou.markers.each do |marker| %>
          <% if marker.stop_no.nil? %>
            <% @curr2 = marker.dup %>
            <%else%>
          <tr>
            <td><%= count+1 %></td>
          <td><%= marker.description %></td>
          <td><%= marker.stop_no%></td>
          <td> <%= marker.lat.round(r) %></td>
          <td><%= marker.lon.round(r) %></td>
          <% count=count+1 %>
          
          <% if rou.user != current_user %></td>
          </br>
          <%end%>
        <!-- <td><%= marker.rou %></td> -->
          <% if rou.user == current_user %>
        <!--   <td> <%= link_to 'Show', [marker.rou, marker] %></td> -->
          <td>  <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %></td>
          <td>  <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </br>
          <% end %>
      </tr>
      <%end%>
      <% end %>
   </tbody>
</table>
 Last known location :</br>
   At time: <b><%= @curr2.try(:description)%></b> </br>Latitude:<b><%= @curr2.try(:lat).round(r) if @curr2.try(:lat) %></b></br> Longitude:<b><%= @curr2.try(:lon).round(r) if @curr2.try(:lon) %></b></br>
   <% if current_user.admin? %>
    <%= link_to 'Add New Marker', new_rou_marker_path(rou), class: "btn btn-primary" %>
  
    <% end %>
    </div>
    </div>
<%end%>
<%if index == 3%>
    <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
   
        <table class="tablesorter" id="this3">
        <thead>
         <tr>
          <th>#</th>
          <th>Description</th>
          <th>Stop #</th>
         <th>Latitude</th>
         <th>Longitude</th>
         
         </tr>
        </thead>
        <tbody>
          <% count=0 %>
      <% rou.markers.each do |marker| %>
          <% if marker.stop_no.nil? %>
            <% @curr3 = marker.dup %>
            <%else%>
          <tr>
            <td><%= count+1 %></td>
          <td><%= marker.description %></td>
          <td><%= marker.stop_no%></td>
          <td> <%= marker.lat.round(r) %></td>
          <td><%= marker.lon.round(r) %></td>
          <% count=count+1 %>
          
          <% if rou.user != current_user %></td>
          </br>
          <%end%>
        <!-- <td><%= marker.rou %></td> -->
          <% if rou.user == current_user %>
        <!--   <td> <%= link_to 'Show', [marker.rou, marker] %></td> -->
          <td>  <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %></td>
          <td>  <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </br>
          <% end %>
      </tr>
      <%end%>
      <% end %>
   </tbody>
</table>
Last known location :</br>
  At time: <b><%= @curr3.try(:description)%></b> </br>Latitude:<b><%= @curr3.try(:lat).round(r) if @curr3.try(:lat)%></b></br> Longitude:<b><%= @curr3.try(:lon).round(r) if @curr3.try(:lon)%></b></br>
   <% if rou.user == current_user %>
    <%= link_to 'Add New Marker', new_rou_marker_path(rou), class: "btn btn-primary" %>
  
    <% end %>
    </div>
    </div>
<%end%>
<%if index == 4%>
 <div id="collapse<%= index.to_s %>" class="panel-collapse collapse in" role="tabpanel" >
      <div class="panel-body">
   
        <table class="tablesorter" id="this4">
        <thead>
         <tr>
          <th>#</th>
          <th>Description</th>
          <th>Stop #</th>
         <th>Latitude</th>
         <th>Longitude</th>
         
         </tr>
        </thead>
        <tbody>
          <% count=0 %>
      <% rou.markers.each do |marker| %>
          <% if marker.stop_no.nil? %>
            <% @curr4 = marker.dup %>
            <%else%>
          <tr>
            <td><%= count+1 %></td>
          <td><%= marker.description %></td>
          <td><%= marker.stop_no%></td>
          <td> <%= marker.lat.round(r) %></td>
          <td><%= marker.lon.round(r) %></td>
          <% count=count+1 %>
          
          <% if rou.user != current_user %></td>
          </br>
          <%end%>
        <!-- <td><%= marker.rou %></td> -->
          <% if rou.user == current_user %>
        <!--   <td> <%= link_to 'Show', [marker.rou, marker] %></td> -->
          <td>  <%= link_to 'Edit', edit_rou_marker_path(marker.rou, marker) %></td>
          <td>  <%= link_to 'Destroy', [marker.rou, marker], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </br>
          <% end %>
      </tr>
      <%end%>
      <% end %>
   </tbody>
</table>
 Last known location :</br>
   At time: <b><%= @curr4.try(:description)%></b> </br>Latitude:<b><%= @curr4.try(:lat).round(r) if @curr4.try(:lat)%></b></br> Longitude:<b><%= @curr4.try(:lon).round(r) if @curr4.try(:lon)%></b></br>
   <% if rou.user == current_user %>
    <%= link_to 'Add New Marker', new_rou_marker_path(rou), class: "btn btn-primary" %>
  
    <% end %>
    </div>
    </div>
<%end%>
</div>
</div>
<% end %>

<script>
$(document).ready(function() 
    { 
        $("#this0").tablesorter({
    theme: 'bootstrap',
  widgets: ['uitheme']
}); 
    } 
); 

$(document).ready(function() 
    { 
        $("#this1").tablesorter({
    theme: 'bootstrap',
  widgets: ['uitheme']
}); 
    } 
); 
$(document).ready(function() 
    { 
        $("#this2").tablesorter({
    theme: 'bootstrap',
  widgets: ['uitheme']
}); 
    } 
); 
$(document).ready(function() 
    { 
        $("#this3").tablesorter({
    theme: 'bootstrap',
  widgets: ['uitheme']
}); 
    } 
); 
$(document).ready(function() 
    { 
        $("#this4").tablesorter({
    theme: 'bootstrap',
  widgets: ['uitheme']
}); 
    } 
); 
</script>