<%= form_for([@marker.rou, @marker]) do |f| %>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% @marker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="form-group">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <!-- <div class="field">
    <%= f.label :rou %><br>
    <%= f.text_field :rou %>
  </div> -->
 <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
