<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @marker.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @marker.lon %>
</p>

<p>
  <strong>Description:</strong>
  <%= @marker.description %>
</p>

<p>
  <strong>Stop_no:</strong>
  <%= @marker.stop_no %>
</p>

<!-- <p>
  <strong>Rou:</strong>
  <%= @marker.rou %>
</p> -->

<%= link_to 'Edit', edit_rou_marker_path(@marker.rou, @marker) %> |
<%= link_to 'Back', rou_path(@rou) %>
