<div class= "jumbotron">
<h1><center>Welcome to Fleet Manager</center></h1>

<% if user_signed_in? %>
		<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB62qZpLPkJOx3s-1qQqq4iUrH1p6Gx5Ow">
	    </script>

		<script type="text/javascript">

		  function initialize() 

		  {
			    	var arrMarkers = [];
			    	var arrMarkers2 = [];
			   		var ar = [];
			    	var curmar;var curmar2;var curmar3;
			    	var map;
			        var mapOptions = {center: { lat: 18.521034 , lng: 73.841470},zoom: 14};
			        
			        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			        var marker;
			        function addMarker3(coords5, map5, title5)
					{
						marker = new google.maps.Marker
						({
							position: coords5,
							map: map5,
							title: title5
						});
						marker.setIcon('http://i58.tinypic.com/qrk6iq.png')
						ar.push(marker);
						marker.setVisible(false);
					}
					function addMarker2(coords, map, title)
					{
						marker = new google.maps.Marker
						({
							position: coords,
							map: map,
							title: title
						});
						marker.setIcon('http://i58.tinypic.com/qrk6iq.png')
						arrMarkers2.push(marker);
						marker.setVisible(false);
					}	
					function addMarker1(location,map,title) 
      				{
				      	marker = new google.maps.Marker
				      	({
				      		position: location,
				      		map: map,
				      		title:title
    					});
					    marker.setIcon('http://i58.tinypic.com/qrk6iq.png')
						arrMarkers.push(marker);
						marker.setVisible(false);
					}
						function addcur1(location1,map1,title1) 
      				{
				      	marker = new google.maps.Marker
				      	({
				      		position: location1,
				      		map: map1,
				      		title:title1
    					});
    					marker.setIcon('http://i61.tinypic.com/mshumu.png')
						curmar = marker;
						marker.setVisible(false);
					}

					function addcur2(location1,map1,title1) 
      				{
				      	marker = new google.maps.Marker
				      	({
				      		position: location1,
				      		map: map1,
				      		title:title1
    					});
    					marker.setIcon('http://i61.tinypic.com/mshumu.png')
						curmar2 = marker;
						marker.setVisible(false);
					}
					function addcur3(location15,map15,title15) 
      				{
				      	marker = new google.maps.Marker
				      	({
				      		position: location15,
				      		map: map15,
				      		title:title15
    					});
    					marker.setIcon('http://i61.tinypic.com/mshumu.png')
						curmar3 = marker;
						curmar3.setVisible(false);
					}

{	var parent = document.getElementById("here");
	<%r = 5%>
	<% @rou.each_with_index do |rou,index| %>
	var checkbox = document.createElement('input');
	checkbox.type = "checkbox";
	checkbox.name = "Route<%=index+1%>";
	checkbox.value = "rou<%=index+1%>";
	checkbox.id = "R<%=index+1%>";
	var label = document.createElement('label')
	label.htmlFor = "id";
	label.appendChild(document.createTextNode('Route <%=index +1%>  '));
	parent.appendChild(checkbox);
	parent.appendChild(label);
	<% rou.markers.each do |marker| %>
	<% if marker.stop_no.nil? %>
		<% @curr = marker.dup %>
		addcur<%= index+1 %>(new google.maps.LatLng(<%= @curr.lat.round(r) %>, <%= @curr.lon.round(r) %>),map,'<%= @curr.description%>')
	<% else %>
	addMarker<%= index+1 %>(new google.maps.LatLng(<%= marker.lat %>, <%= marker.lon %>),map,'<%= marker.description%>') 
	<% end %>
	<% end %>
	<%end%>
		{
		addMarker1(new google.maps.LatLng(18.521034, 73.841470),map,'Route 1 : Source')
		addMarker1(new google.maps.LatLng(18.513411, 73.840683),map,'Route 1 : Stop 1')
		addMarker1(new google.maps.LatLng(18.509037, 73.843859),map,'Route 1 : Stop 2')
 		addMarker1(new google.maps.LatLng(18.503675, 73.845168),map,'Route 1 : Stop 3')
		addMarker1(new google.maps.LatLng(18.502810, 73.850200),map,'Route 1 : Stop 4')
		addMarker1(new google.maps.LatLng(18.497418, 73.854395),map,'Route 1 : Stop 5')
		addMarker1(new google.maps.LatLng(18.494121, 73.857991),map,'Route 1 : Stop 6')
		addMarker1(new google.maps.LatLng(18.488627, 73.857508),map,'Route 1 : Stop 7')
		addMarker1(new google.maps.LatLng(18.478624, 73.857390),map,'Route 1 : Stop 8')
		addMarker1(new google.maps.LatLng(18.468642, 73.857820),map,'Route 1 : Stop 9')
		addMarker1(new google.maps.LatLng(18.459463, 73.857916),map,'Route 1 : Stop 10')
		addMarker1(new google.maps.LatLng(18.454496, 73.855706),map,'Route 1 : Stop 11')
		addMarker1(new google.maps.LatLng(18.457249, 73.851141),map,'Route 1 : Destination')
			var BusCoordinates = 
			[
			    new google.maps.LatLng(18.521034, 73.841470),
			    new google.maps.LatLng(18.513411, 73.840683),
			    new google.maps.LatLng(18.509037, 73.843859),
			    new google.maps.LatLng(18.503675, 73.845168),
			    new google.maps.LatLng(18.502810, 73.850200),
			    new google.maps.LatLng(18.497418, 73.854395),
			    new google.maps.LatLng(18.494121, 73.857991),
			    new google.maps.LatLng(18.488627, 73.857508),
			    new google.maps.LatLng(18.478624, 73.857390),
			    new google.maps.LatLng(18.468642, 73.857820),
			    new google.maps.LatLng(18.459463, 73.857916),
			    new google.maps.LatLng(18.454496, 73.855706),
			    new google.maps.LatLng(18.457249, 73.851141)

			];
			var Busroute = new google.maps.Polyline
			({
			    path: BusCoordinates,
			    geodesic: true,
			    strokeColor: '#0000FF',
			    strokeOpacity: 1.0,
			    strokeWeight: 3
			});

				}	
							
function clearOverlays() {
	curmar.setMap(null);
  if (arrMarkers) {
    for( var i = 0, n = arrMarkers.length; i < n; ++i ) {
      arrMarkers[i].setMap(null);
      
      Busroute.setMap(null);
    }
  }
}

function showOverlays() {
	curmar.setMap(map);
	curmar.setVisible(true);
  if (arrMarkers) {
    for( var i = 0, n = arrMarkers.length; i < n; ++i ) {
      arrMarkers[i].setMap(map);
      arrMarkers[i].setVisible(true);

      Busroute.setMap(map);
    }
  }
}

$('#R1').change(function() {
 if( $('#R1').prop("checked")) {
          showOverlays();
          }
          else  {
          clearOverlays();
          }
});			
			
{
		addMarker2(new google.maps.LatLng(18.521034, 74.841470),map,'Route 2 : Source')
		addMarker2(new google.maps.LatLng(18.513411, 74.840683),map,'Route 2 : Stop 1')
		addMarker2(new google.maps.LatLng(18.509037, 74.843859),map,'Route 2 : Stop 2')
 		addMarker2(new google.maps.LatLng(18.503675, 74.845168),map,'Route 2 : Stop 3')
		addMarker2(new google.maps.LatLng(18.502810, 74.850200),map,'Route 2 : Stop 4')
		addMarker2(new google.maps.LatLng(18.497418, 74.854395),map,'Route 2 : Stop 5')
		addMarker2(new google.maps.LatLng(18.494121, 74.857991),map,'Route 2 : Stop 6')
		addMarker2(new google.maps.LatLng(18.488627, 74.857508),map,'Route 2 : Stop 7')
		addMarker2(new google.maps.LatLng(18.478624, 74.857390),map,'Route 2 : Stop 8')
		addMarker2(new google.maps.LatLng(18.468642, 74.857820),map,'Route 2 : Stop 9')
		addMarker2(new google.maps.LatLng(18.459463, 74.857916),map,'Route 2 : Stop 10')
		addMarker2(new google.maps.LatLng(18.454496, 74.855706),map,'Route 2 : Stop 11')
		addMarker2(new google.maps.LatLng(18.457249, 74.851141),map,'Route 2 : Destination')
			var BusCoordinates2 = 
			[
			    new google.maps.LatLng(18.521034, 74.841470),
			    new google.maps.LatLng(18.513411, 74.840683),
			    new google.maps.LatLng(18.509037, 74.843859),
			    new google.maps.LatLng(18.503675, 74.845168),
			    new google.maps.LatLng(18.502810, 74.850200),
			    new google.maps.LatLng(18.497418, 74.854395),
			    new google.maps.LatLng(18.494121, 74.857991),
			    new google.maps.LatLng(18.488627, 74.857508),
			    new google.maps.LatLng(18.478624, 74.857390),
			    new google.maps.LatLng(18.468642, 74.857820),
			    new google.maps.LatLng(18.459463, 74.857916),
			    new google.maps.LatLng(18.454496, 74.855706),
			    new google.maps.LatLng(18.457249, 74.851141)

			];
			var Busroute2 = new google.maps.Polyline
			({
			    path: BusCoordinates2,
			    geodesic: true,
			    strokeColor: '#0000FF',
			    strokeOpacity: 1.0,
			    strokeWeight: 3
			});

				}						
											
function clearOverlays_two() 
{curmar2.setMap(null);
  if (arrMarkers) 
  {
    for( var i = 0, n = arrMarkers2.length; i < n; ++i ) 
    {
      arrMarkers2[i].setMap(null);
      Busroute2.setMap(null);
    }
  }
}

function showOverlays_two() 
{curmar2.setMap(map);
	curmar2.setVisible(true);
  if (arrMarkers2) 
  {
    for( var i = 0, n = arrMarkers2.length; i < n; ++i ) 
    {
      arrMarkers2[i].setMap(map);
      arrMarkers2[i].setVisible(true);
      Busroute2.setMap(map);
    }
  }
}

$('#R2').change(function() {
 if( $('#R2').prop("checked")) 
 	{
          showOverlays_two();
    }
else  
	{
          clearOverlays_two();
    }
});	

{

function clearOverlays_three() {
	curmar3.setMap(null);
  if (ar) {
    for( var i = 0, n = ar.length; i < n; ++i ) {
      ar[i].setMap(null);
      
    }
  }
}

function showOverlays_three() {
 
	curmar3.setMap(map);
	curmar3.setVisible(true);
  if (ar) 
  {
    for( var i = 0, n = ar.length; i < n; ++i ) 
    {
      ar[i].setMap(map);
      ar[i].setVisible(true);
     
    }
  }
}

$('#R3').change(function() {
 if( $('#R3').prop("checked")) {
          showOverlays_three();
          }
          else  {
          clearOverlays_three();
          }
});											
				}					
	}}

    google.maps.event.addDomListener(window, 'load', initialize);
 	 $(document).on('pageshow', '#map-container', initialize()); 
			 </script>

		<div id="map-container" data-role="page">
		 	<div id="content">
                <div id="map-canvas"></div>
            </div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><h4>Routes Selected</h4></div>
			<div class="panel-body" id="here">
			
		
		  	</div>
		</div>
	

		<!-- Single button -->
	<div class="btn-group">
  	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="ddrd">
    Route Details<span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu" role="menu1" >
  	<% @rou.each_with_index do |rou,index| %>
    <li><a href="<%= rou_path(rou) %>" id="A<%index+1%>">Route <%=index+1%></a></li>
    <%end%>
    <li class="divider"></li>
    <li><a href="rous" id="AA">All Routes</a></li>
  	</ul>
	</div>

		<div class="btn-group">
  	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    List View<span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu" role="menu2">
   	<% @rou.each_with_index do |rou,index| %>
   	<% abc = "rous/#{rou.id}/markers" %>
    <li><a href="<%= abc %>" id="B<%index+1%>">Route <%=index+1%></a></li>
    <%end%>
    <li class="divider"></li>
    <li><a href= "rous" id="BB">All Routes</a></li>
  	</ul>
	</div>
   
		
<%else%>
	<center>
		<p>
	
			<%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg"%>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg"%>
	
		</p>
	</center>
<%end%>
</div>